.header-area {
  background-image: url(../image/headerArea.png);
  background-size: 100% 100%;
  height: 50px;
  position: relative;
  width: 318px;
}

.header-area .text-wrapper {
  color: #c9ef73;
  font-family: "Nico Moji-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 14px;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  white-space: nowrap;
}

.header-area .iconly-broken-chat {
  height: 24px;
  left: 249px;
  position: absolute;
  top: 13px;
  width: 24px;
}

.header-area .additional-icons {
  height: 24px !important;
  left: 276px !important;
  position: absolute !important;
  top: 13px !important;
  width: 24px !important;
}
