.main-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.main-page .overlap-wrapper {
  background-color: #ffffff;
  height: 800px;
  width: 360px;
}

.main-page .overlap {
  background-image: url(../image/bgPage.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 800px;
  position: relative;
}

.main-page .header-area-instance {
  /* background-image: url(../image/Ticket.png) !important; */
  left: 21px !important;
  position: absolute !important;
  top: 19px !important;
}

.main-page .design-component-instance-node {
  color: #b1faff !important;
}

.main-page .group {
  height: 88px;
  left: 39px;
  position: absolute;
  top: 87px;
  width: 284px;
}

.main-page .flexcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 43px;
  left: 115px;
  position: absolute;
  top: 23px;
  width: 167px;
}

.main-page .text {
  align-self: stretch;
  color: #ffffff;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.main-page .span {
  color: #ffffff;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
}

.main-page .text-wrapper-2 {
  font-size: 16px;
}

.main-page .ellipse {
  background-color: #d9d9d9;
  border-radius: 44px;
  height: 88px;
  left: 0;
  position: absolute;
  top: 0;
  width: 88px;
}

.main-page .div {
  height: 31px;
  left: 44px;
  position: absolute;
  top: 202px;
  width: 277px;
}

.main-page .overlap-group {
  background-image: url(../image/Rectangle4.png);
  background-size: 100% 100%;
  height: 35px;
  left: -2px;
  position: absolute;
  top: -2px;
  width: 132px;
  border-radius: full;
}

.main-page .text-wrapper-3 {
  color: #baf8fc;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  height: 14px;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.main-page .div-wrapper {
  background-image: url(../image/Rectangle4.png);
  background-size: 100% 100%;
  height: 35px;
  left: 143px;
  position: absolute;
  top: -2px;
  width: 132px;
}

.main-page .text-wrapper-4 {
  color: #baf8fc;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  height: 14px;
  left: 37px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.main-page .group-wrapper {
  height: 84px;
  left: 45px;
  position: absolute;
  top: 670px;
  width: 270px;
}

.main-page .group-2 {
  height: 84px;
  position: relative;
}

.main-page .image {
  height: 84px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 84px;
}

.main-page .img {
  height: 84px;
  left: 93px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 84px;
}

.main-page .image-2 {
  height: 84px;
  left: 186px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 84px;
}

.main-page .group-3 {
  height: 24px;
  left: 39px;
  position: absolute;
  top: 269px;
  width: 282px;
}

.main-page .group-4 {
  height: 24px;
  position: relative;
  width: 288px;
}

.main-page .overlap-group-2 {
  height: 16px;
  left: 32px;
  position: absolute;
  top: 4px;
  width: 138px;
}

.main-page .text-wrapper-5 {
  color: #b9f8fb;
  font-family: "Nico Moji-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.main-page .text-wrapper-6 {
  color: #b9f8fb;
  font-family: "Nico Moji-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 16px;
  left: 233px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.main-page .iconly-broken-ticket {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.main-page .frame {
  background-color: #ededed;
  border-radius: 8px;
  box-shadow: 0px 0px 11.2px #ddffff;
  height: 320px;
  left: 44px;
  overflow: hidden;
  position: absolute;
  top: 319px;
  width: 273px;
}

.main-page .image-3 {
  height: 270px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 273px;
}

.main-page .text-wrapper-7 {
  color: #868686;
  font-family: "Nico Moji-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 12px;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 274px;
  white-space: nowrap;
}

.main-page .text-wrapper-8 {
  color: #000000;
  font-family: "Nico Moji-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 15px;
  left: 71px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 294px;
  white-space: nowrap;
}
